<html>
<head>
<meta charset="UTF-8">

<style>
.container {
	text-align: center;
	font-family: sans-serif;
}

.logo {
	color: #73e600;
}
</style>
</head>
<body>

	<div class="container">
		<h1 class="logo">Olá ${nome}, seu cadastro foi realizado com
			sucesso na nossa pastelaria!</h1>
		<p>Seja muito bem vindo a pastelaria do beiçola, temos os mais
			variados tipos de pasteis possiveis, temos bebidas fresquinhas e
			whiskys de qualidades!</p>
		<p>
			Qulquer duvida entre em contato conosco: <strong>pastelariadobeicolaagostinho@gmail.com</strong>
		</p>
	</div>
</body>
</html>